@model MovePigMove.Core.ViewModels.WorkoutSummaryViewModel

@{
    ViewBag.Title = "Current Workout";
}

<h2>Current Workout</h2>
@Model.Elapsed<br/>

@Html.ActionLink("Add Cardio", "Cardio", "Add") | @Html.ActionLink("Add Strength", "Strength", "Add")

<br/>

@if (Model.EndDate.HasValue)
{
    <text>Started at </text>@Model.StartDate<br/>
    <text>Ended at </text>@Model.EndDate<br/>     
}

@if (Model.Cardio.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Duration</th>
                <th>Notes</th>
            </tr>
        </thead>
        @foreach(var c in Model.Cardio)
        {
            <tr>
                <td>@c.ExerciseDescription</td>
                <td>@c.Level</td>
                <td>@c.Duration</td>
                <td>@c.Notes</td>
            </tr>
        }
    </table>
}

@if (Model.Strength.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Notes</th>
            </tr>
        </thead>
        @foreach(var s in Model.Strength)
        {
            <tr>
                <td>@s.ExerciseDescription</td>
                <td>@s.Weight</td>
                <td>@s.Repetitions</td>
                <td>@s.Notes</td>
            </tr>
        }
    </table>
}


@if(Model.PromptForEnd)
{
     using(Html.BeginForm("End", "Workout", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        <input type="submit" id="end" value="End Workout"/> 
     }
}
